*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/background.jpg);
}
#menu_icon{
    font-size: 1.5rem;
    color: #eff4fd;
}
.nav-link-wrapper{
    display: flex;
    width: 84%;
    height: 75px;
    margin: auto;
    padding: 0px 120px;
    justify-content: space-between;
}

.nav-link-wrapper h2{
    float: right;
}

.nav-link-wrapper ul li{
    float: left;
    position: relative;
     list-style: none;
     margin: 10px 20px;
}

.nav-link-wrapper ul li a{
    text-decoration: none;
    color: #eff4fd;
    font-weight: bold;  
    padding: 0px 16px;
    display: block;
}

/*DropDown Menu*/
.nav-link-wrapper ul li ul{
    position: absolute;
    display: none;
    background-color: red;
    border-radius: 0px 0px 5px;
}

.nav-link-wrapper ul li:hover ul{
    display: block;
}

.nav-link-wrapper ul li ul li{
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}

.nav-link-wrapper ul li ul li a{
    padding: 10px 16px;
}

.nav-link-wrapper ul li ul li a:hover{
    background-color: #555;
}
/*DropDown Menu*/

.nav-link-wrapper ul li a:hover{
    color:#ea1538;
}

#menu_icon{
    display: none !important;
    font-size: 20px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
.logo{
    color:white;
    font-size: 28px;
}

span{
    color: #ea1538;
}

.main-content-container{
    margin-left: 8%;
    margin-top: 13% ;
    color: #eff4fd;
}

/*left-side*/
.left-side h1{
    font-style: 50px;
    margin-bottom: 20px; 
}

.left-side p{
    color: #555;
    line-height: 22px;
}

.left-side button{
    background-color: #ea1538;
    padding: .5rem 2rem;
    text-decoration: none;
    font-weight: bold; 
    color:#ffff;
    display: inline-block; 
    margin: 30px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px rgb(201,201,201);
    transition: transform .3s;
}

.main-content-container button:hover{
    transform: scale(1.1);
}

.main-content-container button:active{
    background-color:#ba1025;
}

#active{
    color: #ba1025 !important;
}
.social-media{
    display: flex;
    align-items: center;
}

.fa-brands{
    color: #ea1538;
    margin: 0rem .5rem;
    font-size: 1.5rem;
    transition: color .3s;
}
.fa-brands:hover{
    color: #3498DB !important;
}
@media only screen and (max-width:1200px){ 
    .nav-link-wrapper{
        flex: 0.3;
    }
}
@media only screen and (max-width:800px){ 
        .toggleMenu{
        transform: translateX(-100%);
    }
    .left-side button{
        margin-top: 1rem;
    }
    #menu_icon{
        display: block;
    }
    .nav-link-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        justify-self: center;
    }
    .nav-link-wrapper li{
        color: white !important;
        margin-top: 1rem;
        border-bottom: 1px solid white;
    }
    .main-content-container{
        flex-direction: column-reverse;
        justify-content: center;

    }
    .left-side h1{
        font-size: 2rem;
    }
    .left-side span{
        font-size: 4rem;
    }
    
}
